.swap{
  margin-top: 68px;
}

.swap__block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap__header{
  display: flex;
  gap: 73px;
}

.swap__title{
  max-width: 750px;
  list-style: none;
  background: #131A12;
  border-radius: 28px;
  padding: 35px 38px;
  font-weight: 300;
  font-size: 16px;
  line-height: 156%;
}

.swap__title_span{
  font-weight: 400;
}

.swap__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
  list-style: none;
}

.swap__text_span{
  font-weight: 700;
  color: rgba(166, 246, 150, 0.861638);
}

.swap__subtext{
  font-weight: 300;
  font-size: 13px;
  line-height: 183%;
}

.swap__button{
  margin: 70px 0 20px 0;
  background: #36692C;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 25px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  border: 1px solid #111111;
  cursor: pointer;
}

.swap__button:hover{
  background: #111111;
  border: 1px solid #68c252;
  color: #68c252;
}

.swap__footer{
  max-width: 422px;
  width: 100%;
  font-weight: 200;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #939393;
}