.hero {
  margin-top: 150px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFFFFF;
  max-width: 840px;
  float: right;
}

.hero__card {
  max-width: 677px;
  width: 100%;
  height: 512px;
  position: relative;
  left: -40px;
  top: -72px;
  transform: rotate(352deg);
}

.hero__text{
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
  text-align: right;
  text-transform: uppercase;
  color: #3E7A32;
}

.hero__subtext{
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  text-align: right;
}

.hero__span{
  color: #3E7A32;
}