.modal {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  background: #4d4949f5;
  border-radius: 40px;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modal__block {
  /*width: 1450px;*/
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__header {
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__button {
  background: inherit;
  cursor: pointer;
}

.modal__button:hover{

}

.modal__img:hover{
  transform: rotate(90deg);
  transition: 0.4s all;
}

.modal__menu {
  font-weight: 300;
  font-size: 35px;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(89.66deg, #36692C -20.76%, rgba(166, 246, 150, 0.861638) 47.94%, #36692C 158.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 40px 0 74px 0;
}

.modal__content {
  max-width: 1240px;
  width: 100%;
  padding: 0 50px 160px 50px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 915px) {
  .modal__content {
    flex-wrap: wrap;
    padding: 0 50px 100px 50px;
    gap: 15px;
  }
}

.modal__column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 915px) {
  .modal__column {
    gap: 15px;
  }
}

.modal__title {
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  color: #E2E2E2;
  list-style: none;
  cursor: pointer;
}

.modal__title:hover{
  color: rgba(166, 246, 150, 0.861638);
}

.modal__footer {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px 0 50px;
}

.modal__row {
  /*display: flex;*/
  max-width: 334px;
}

.modal__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  padding-bottom: 25px;
  color: rgba(166, 246, 150, 0.861638);
}

.modal__subtext {
  font-weight: 200;
  font-size: 16px;
  line-height: 156%;
}

.modal__network {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.modal__link{
  cursor: pointer;
}