.relocation {
  margin-top: 85px;
}

@media (max-width: 789px) {
  .relocation {
    margin-top: 50px;
  }
}

.relocation__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relocation__header {
  display: flex;
  gap: 72px;
}

@media (max-width: 915px) {
  .relocation__header {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.relocation__info {
  max-width: 559px;
  width: 100%;
  background: #131A12;
  border-radius: 28px;
  padding: 34px 28px;
  list-style: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 156%;
}

.relocation__info_span {
  font-weight: 400;
}

.relocation__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
  list-style: none;
}

.relocation__text_span {
  font-weight: 700;
  color: rgba(166, 246, 150, 0.861638);
}

.relocation__subtext {
  font-weight: 300;
  font-size: 13px;
  line-height: 183%;
}

.relocation__button {
  margin: 70px 0 20px 0;
  background: #36692C;
  border-radius: 8px;
  padding: 25px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  border: 1px solid #111111;
  color: #FFFFFF;
  cursor: pointer;
}

.relocation__button:hover {
  background: #111111;
  border: 1px solid #68c252;
  color: #68c252;
}

.relocation__footer {
  max-width: 622px;
  font-weight: 200;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #939393;
}