
.header__hat {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 915px) {
  .header__image {
    flex-wrap: wrap;
  }
}

.header__vector {
  background: inherit;
  cursor: pointer;
}

.header__kraftex {
  position: relative;
  padding-left: 83px;
  margin-top: 190px;
  max-width: 1007px;
  width: 100%;
}

.header__ball {
  max-width: 986px;
  width: 100%;
  height: 780px;
  opacity: 0.7;
  background: linear-gradient(151.03deg, rgba(53, 104, 43, 0.06) 15.04%, rgba(53, 104, 43, 0) 34.52%, rgba(62, 115, 51, 0.0516) 49.99%, rgba(71, 127, 60, 0.00822083) 66.94%, rgba(166, 246, 150, 0.0516983) 89.84%);
  mix-blend-mode: normal;
}

@media (max-width: 789px) {
  .header__ball {
    height: 354px;
  }
}

/*.header__ballvector {*/
/*  !*position: absolute;*!*/
/*  !*left: 409px;*!*/
/*  !*right: 0;*!*/
/*  !*top: -155px;*!*/
/*  !*bottom: 0;*!*/
/*  padding: 0px 0px 0px 0px;*/
/*}*/

.header__text {
  position: relative;
  left: 90px;
  bottom: 280px;
  font-weight: 200;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .header__text {
    left: 15px;
  }
}

.header__subtext {
  position: relative;
  left: 270px;
  bottom: 217px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .header__subtext {
    left: 70px;
  }
}

.header__span {
  padding: 0 0 0 60px;
}