.footer{
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer__block{
  display: flex;
  justify-content: space-between;
}

.footer__text{
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  color: #949494;
}