.facts {
  margin-top: 150px;
}

.facts__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts__title {
  display: flex;
  margin-bottom: 55px;
  font-weight: 300;
  font-size: 35px;
  line-height: 100%;
}

.facts__content {
  display: flex;
  gap: 53px;
}

@media (max-width: 915px) {
  .facts__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.facts__rows {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.facts__row {
  display: flex;
  justify-content: space-between;
  width: 720px;
  color: #FFFFFF;
  background: #181818;
  border-radius: 28px;
  padding: 15px 15px 15px 43px;
  align-items: center;
  list-style: none;
}

.facts__row:hover {
  background: #1F1F1F;
}

.facts__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
}

.facts__subtext {
  font-weight: 200;
  font-size: 25px;
  line-height: 100%;
  color: rgba(166, 246, 150, 0.861638);
}

.facts__image {
  max-width: 57px;
  background: #292929;
  border-radius: 17px;
  padding: 15px 14px;
}