.privileges {
  margin-top: 170px;
}

@media (max-width: 915px) {
  .privileges {
    margin-top: 70px;
  }
}

.privileges__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privileges__header {
  font-weight: 300;
  font-size: 35px;
  line-height: 100%;
}

.privileges__content {
  margin-top: 50px;
  display: flex;
  gap: 35px;
}

@media (max-width: 915px) {
  .privileges__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.privileges__column {
  max-width: 469px;
  list-style: none;
  background: #181818;
  border-radius: 28px;
  padding: 33px 25px 33px 34px;
}

.privileges__column:hover {
  background: #1F1F1F;
}

.privileges__title {
  margin-top: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
}

.privileges__subtitle {
  font-weight: 200;
  font-size: 20px;
  line-height: 150%;
}

.privileges__text {
  margin-top: 20px;
  font-weight: 200;
  font-size: 18px;
  line-height: 139%;
  color: #939393;

}